.progress-bar-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0df;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  
  .progress-bar-fill {
    height: 20px;
    background-color: green;
    transition: width 0.5s;
  }
  
  .progress-bar-text {
    font-size: 14px;
    text-align: center;
  }
  